<div>
  <p>
    Hi there, <br>
    We notice that below price change has happened 
  </p>
  <table style="width: 100%">
    <thead>
      <tr>
        <th rowspan="2">Named of fuel station</th>
        <th colspan="4">E10</th>
        <th colspan="4">ULP</th>
      </tr>
      <tr>
        <th>Old price*</th>
        <th>New price*</th>
        <th>Updated</th>
        <th>Variance</th>
        <th>Old price*</th>
        <th>New price*</th>
        <th>Updated</th>
        <th>Variance</th>
      </tr>
    </thead>
    <tbody>
      {{#each stations}}
        {{#if stations.updated}}
        <tr>
          <th>{{brand}} #{{code}}</th>
          <td>{{pricesOld.E10.price}}</td>
          <td>{{pricesNew.E10.price}}</td>
          <td>{{pricesNew.E10.lastupdated}}</td>
          <td>{{{variance.E10}}}</td>
          <td>{{pricesOld.U91.price}}</td>
          <td>{{pricesNew.U91.price}}</td>
          <td>{{pricesNew.U91.lastupdated}}</td>
          <td>{{{variance.U91}}}</td>
        </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</dvi>