<p class="alert alert-success mt-3" role="alert">
   Last API call <strong>{{date}}</strong>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2">Name of fuel station</th>
      <th colspan="4">E10</th>
      <th colspan="4">ULP</th>
    </tr>
    <tr>
      <th>Old price*</th>
      <th>New price*</th>
      <th>Updated</th>
      <th>Variance</th>
      <th>Old price*</th>
      <th>New price*</th>
      <th>Updated</th>
      <th>Variance</th>
    </tr>
  </thead>
  <tbody>
    {{#each stations}}
    <tr>
      <th scope="row">{{brand}} #{{code}}</th>
      <td>{{{pricesOld.E10.price}}}</td>
      <td>{{{pricesNew.E10.price}}}</td>
      <td>{{pricesNew.E10.lastupdated}}</td>
      <td class="text-{{varianceClass.E10}}">{{{variance.E10}}}</td>
      <td>{{{pricesOld.U91.price}}}</td>
      <td>{{{pricesNew.U91.price}}}</td>
      <td>{{pricesNew.U91.lastupdated}}</td>
      <td class="text-{{varianceClass.U91}}">{{{variance.U91}}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p>*all prices in petroleum industry is per Cent.</p>
